@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./colors";

body {
  background-color: $offwhite;
}

.hide {
  display: none;
}

.pin-card {
  margin: 1%;
}

.img-container {
  height: 150px;
  overflow: hidden;
  img {
    width: 100%;
  }
}

i {
  color: $red;
}

nav {
  background-color: $offwhite;
  border-bottom: solid $gray 2px;
  color: $gray;
  button {
    background-color: $gray;
  }
}

.card-header {
  background-color: $red;
  color: white;
}
